#!/bin/bash

# Check if the OS is Darwin (macOS)
{{ if eq .chezmoi.os "darwin" }}
    # Check if oh-my-posh is installed via Homebrew
        brew install yazi ffmpeg sevenzip jq poppler fd ripgrep fzf zoxide imagemagick font-symbols-only-nerd-font
        brew install eza
{{ else }}
    if [ -x "$(command -v yazi)" ]; then
        echo "eza is available"
    else
        wget -c https://github.com/sxyazi/yazi/releases/latest/download/yazi-aarch64-unknown-linux-gnu.zip -O yazi.zip 
        unzip yazi.zip
        # mv yazi-x86_64-unknown-linux-musl/completions/* ~/.zsh/completions/ https://github.com/sxyazi/yazi/releases/download/v25.2.7/yazi-x86_64-unknown-linux-musl.zip
        mv ./yazi-aarch64-unknown-linux-gnu   ~/.local/bin/yazi
        mv ./yazi-aarch64-unknown-linux-gnu/ya  ~/.local/bin/ya
        rm -rf yaz*
    fi    


{{ end }}