#!/bin/bash

# Check if the OS is Darwin (macOS)
{{ if eq .chezmoi.os "darwin" }}
    # Check if oh-my-posh is installed via Homebrew
    if [ -x "$(command -v eza)" ]; then
        brew install eza
    else
        echo "eza is available "
    fi
{{ else }}
    # If the OS is not macOS (fallback logic)
    if [ -x "$(command -v eza)" ]; then
        echo "eza is available "
    else
        wget -c https://github.com/eza-community/eza/releases/latest/download/eza_aarch64-unknown-linux-gnu_no_libgit.tar.gz  -O - | tar xz
        sudo chmod +x eza
        sudo chown root:root eza
        sudo mv eza ~/.local/bin/eza
    fi


{{ end }}