#!/bin/bash

# Check if running inside Docker
IN_DOCKER=false
if [ -f /.dockerenv ] || grep -q docker /proc/1/cgroup 2>/dev/null; then
    IN_DOCKER=true
    echo "Running inside Docker container nothing todo"
    exit 0
fi

# install_on_fedora() {
#     sudo dnf install -y ansible
# }


# OS="$(uname -s)"
# case "${OS}" in
#     Linux*)
#         if [ -f /etc/fedora-release ]; then
#             install_on_fedora
#         elif [ -f /etc/debian_version ]; then
#             install_on_ubuntu
#         else
#             echo "Unsupported Linux distribution"
#             exit 1
#         fi
#         ;;
#     Darwin*)
#         install_on_mac
#         ;;
#     *)
#         echo "Unsupported operating system: ${OS}"
#         exit 1
#         ;;
# esac

# Check if the OS is Darwin (macOS)
{{ if eq .chezmoi.os "darwin" }}
    brew install ansible
    ansible-playbook ~/dotfiles/setup/ansible/setup.yml --ask-become-pass
{{ else if eq .chezmoi.os "linux" }}
    # If the OS is not macOS (fallback logic)
    {{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
    sudo apt-get update
    sudo apt-get install -y ansible 
    ansible-playbook ~/dotfiles/setup/ansible/setup.yml --ask-become-pass
    {{ else if (or (eq .chezmoi.osRelease.id "rhel") (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.id "centos")) }}
    sudo dnf install -y ansible
    ansible-playbook ~/dotfiles/setup/ansible/setup.yml --ask-become-pass
    {{ else }}
    echo "Unsupported Linux distribution: {{ .chezmoi.osRelease.id }}"
    exit 0
    {{ end }}
{{ else }}
    echo "Unsupported operating system: {{ .chezmoi.os }}"
    exit 0
{{ end }}