#!/bin/bash

# Check if the OS is Darwin (macOS)
{{ if eq .chezmoi.os "darwin" }}
    # Check if oh-my-posh is installed via Homebrew
        brew install yazi ffmpeg sevenzip jq poppler fd ripgrep fzf zoxide imagemagick font-symbols-only-nerd-font
        brew install eza
{{ else }}
    # If the OS is not macOS (fallback logic)
    if [ -x "$(command -v eza)" ]; then
        echo "eza is available "
    else
        wget -c https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz -O - | tar xz
        sudo chmod +x eza
        sudo chown root:root eza
        sudo mv eza ~/.local/bin/eza
    fi


{{ end }}