#!/bin/bash

# Check if the OS is Darwin (macOS)
{{ if eq .chezmoi.os "darwin" }}
    # Check if oh-my-posh is installed via Homebrew
        brew install zoxide
{{ else }}
    # If the OS is not macOS (fallback logic)
    if [ ! -x "$(command -v zoxide)" ] && [ ! -f /usr/bin/zoxide ] && [ ! -f ~/.local/bin/zoxide ]; then
        curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | sh
    else
            echo "zoxide is available "
    fi


{{ end }}